 <%-include('layout.ejs') %>
   <div class="row">
                <div class="col-lg-12">
                   
                    <!-- /.panel -->
                    <div class="panel panel-default">
                    
                        <!-- /.panel-heading -->
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Vos historiques d'achat et vente
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <% for(var i=0;i<order.length;i++){%>
                                  <%  if (order[i].Order.Side == "SELL") {%>
                                     <li>
                                    <div class="timeline-badge success"><i class="fa fa-money"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Vente</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Prix : <%=order[i].Order.Price %></small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Quantité : <%=order[i].Order.OrderQty %></p>
                                        </div>
                                    </div>
                                </li>
                                            

                                      
                                   <% }else{ %>
                                      <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Achat</h4>
                                             <p><small class="text-muted"><i class="fa fa-clock-o"></i> Prix : <%=order[i].Order.Price %></small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                           <p>Quantité : <%=order[i].Order.OrderQty %></p>
                                        </div>
                                    </div>
                                </li>
                                    


                                      <%  } %>

        

                                      <%   } %>
                              
                            
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->

                <!-- /.col-lg-4 -->
            </div>

                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    
</body>

</html>
